<!DOCTYPE html>
<html>
  <head>
    <title>OAUTH</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/github-auth" method="GET">
      <h3>Authorize this app to access your GitHub account:</h3>
      <input type="submit" value="Login to GitHub">
    </form>
  </body>
</html>
